<div id="contact-block" class="p-6">
    <div class="content-wrap">
        <h3 class="mb-3">Contact Us</h3>
        <div class="contact-form">
            <div class="contactform">
                <div class="contact-form form-vertical">
                    <form method="post" action="/contact#ContactForm" id="ContactForm" accept-charset="UTF-8" class="contact-form">
                        <input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />
                        <input class="mb-2" type="text" id="ContactForm-name" name="contact[Name]" value="" placeholder="Name"/>
                        <input class="mb-2" type="email" id="ContactForm-email" name="contact[email]" autocorrect="off" autocapitalize="off" value="" aria-required="true" placeholder="Email" />
                        <textarea class="mb-2" rows="10" id="ContactForm-message" name="contact[Message]" placeholder="Type your Message Here!"></textarea>
                        <input class="contact-bttn is-primary btn" type="submit" class="btn" value="Send" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>